<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hastane Randevu Sistemi</title>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .carousel-image {
            width: 100%;
            height: 80vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Home">Hastane Randevu Sistemi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/Home">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Randevu Al</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Randevu">Randevularım</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Hastalik">Hastalıklar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Doktor">Doktorlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Birim">Birimler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Poliklinik">Poliklinikler</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <a class="btn btn-primary me-2" href="@Url.Action("Login", "ApplicationUser")">Giriş Yap</a>
                    <a class="btn btn-secondary" href="@Url.Action("Register", "ApplicationUser")">Kaydol</a>
                </div>
            </div>
        </div>
    </nav>


	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="carousel-image" style="background-image: url('/images/doktor1.jpg');"></div>
				<div class="carousel-caption d-none d-md-block">
                    <h4 style="color: black;">Göz Doktoru</h4>
                    <h5 style="color: black;">Prof. Dr. Hüseyin ARI</h5>
				</div>
			</div>
			<div class="carousel-item">
				<div class="carousel-image" style="background-image: url('/images/doktor2.jpg');"></div>
				<div class="carousel-caption d-none d-md-block">
                    <h4 style="color: black;">Nöroloji Doktoru</h4>
                    <h5 style="color: black;">Prof. Dr. Aylin OZAN</h5>
				</div>
			</div>
			<div class="carousel-item">
				<div class="carousel-image" style="background-image: url('/images/doktor3.jpg');"></div>
				<div class="carousel-caption d-none d-md-block">
                    <h4 style="color: black;">Dahiliye Doktoru</h4>
                    <h5 style="color: black;">Prof. Dr. Salim KARA</h5>
				</div>
			</div>
			<div class="carousel-item">
				<div class="carousel-image" style="background-image: url('/images/doktor4.jpg');"></div>
				<div class="carousel-caption d-none d-md-block">
                    <h4 style="color: black;">Dermatoloji Doktoru</h4>
                    <h5 style="color: black;">Prof.Dr. Sinem ÖZKAN</h5>
				</div>
			</div>
			<div class="carousel-item">
				<div class="carousel-image" style="background-image: url('/images/doktor5.jpg');"></div>
				<div class="carousel-caption d-none d-md-block">
                    <h4 style="color: black;">Kadın Hastalıkları ve Doğum Doktoru</h4>
                    <h5 style="color: black;">Prof. Dr. Emrah KARADAĞ</h5>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script>
		var myCarousel = new bootstrap.Carousel(document.getElementById('carouselExampleIndicators'), {
			interval: 3000,
			wrap: true
		});
	</script>
</body>
</html>
