@model HastaneRandevuSistemi.Models.ErrorViewModel
@{
    ViewData["Title"] = "Hata";
}

<div class="text-center">
    <h1 class="display-4">Error</h1>
	<p>Talebiniz işlenirken bir hata oluştu.</p>
    <p>@Model.RequestId</p>
</div>
