@model Birim

<h2>Birim Ekle</h2>

<form asp-action ="BirimKaydetModel">
  <div class="form-group">
    <label>Isim</label>
    <input asp-for = "Isim" class=" form-controll" />


  </div>
  <button type="submit" class=" btn btn-primary">Ekle</button>
</form>
